@model MatikoWebAppProject.Models.Products

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <form>
                    <label asp-for="Name">Name:</label>
                    <input id="nameInput" asp-for="Name" type="text" />
                </form>
            </div>
            <p></p>
            <div class="form-group">
                <form>
                    <label asp-for="Price">Price:</label>
                    <input asp-for="Price" id="lfname" name="fname" type="text" />
                </form>
            </div>
            <p></p>
            <div class="form-group">
                <form action="/action_page.php">
                    <label asp-for="color">Color:</label>
                    <select asp-for="color" name="colors" id="colors">
                        <option value="white">White</option>
                        <option value="grey">Grey</option>
                        <option value="black">Black</option>
                        <option value="purple">Purple</option>
                        <option value="pink">Pink</option>
                        <option value="blue">Blue</option>
                        <option value="green">Green</option>
                        <option value="yellow">Yellow</option>
                        <option value="orange">Orange</option>
                        <option value="red">Red</option>
                        <option value="multi">Multi</option>
                    </select>
                </form>
            </div>
            <p></p>
            <div class="form-group">
                <form action="/action_page.php">
                    <label asp-for="Category">Category:</label>
                    <select asp-for="Category" name="categories" id="categories">
                        <option value="shirts">Shirts</option>
                        <option value="jeans">Jeans</option>
                        <option value="shoes">Shoes</option>
                        <option value="accessories">Accessories</option>
                        <option value="shorts">Shorts</option>
                    </select>
                </form>
            </div>
            <p></p>
            <div class="form-group">
                <form action="/action_page.php">
                    <label asp-for="Gender">Gender:</label>
                    <select asp-for="Gender" name="genders" id="genders">
                        <option value="male">Man</option>
                        <option value="memale">Woman</option>
                        <option value="memale">Unisex</option>
                    </select>
                </form>
            </div>
            <p></p>
            <div class="form-group">
                <form>
                    <label asp-for="ImageUrl">ImageURL:</label>
                    <input asp-for="ImageUrl" id="lfname" name="fname" type="text" />
                </form>
            </div>
            <p></p>
            <div class="form-group">
                <input id="submitButton" type="submit" value="Create" class="btn btn-primary" asp-action="Create" asp-controller="Products" asp-route-prodId="" asp-route-categoryName=" " />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/facebookPosting.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
