@model MatikoWebAppProject.Models.Products

@{
    ViewData["Title"] = "Shirts";
    ViewBag.title = "Shirts";
}

<link href="~/css/StyleCategory.css" rel="stylesheet" />
<script src="~/js/forShirts.js" asp-append-version="true"></script>

<div class="titles">
    <h2>
        SHIRTS
    </h2>
    <p>You’ve found your perfect pair of bottoms, now all you need is a top to complete the look. Introducing our edit of tops for women, which features everything from vests and casual T-shirts to smart shirts and trend-led, cold-shoulder tops. New Look has all your style essentials, whatever your occasion or taste; you can find fresh V-neck tops to enhance your daytime look as well as oversized tops in boyfriend styles for that cosy feel. And Topshop is here to help you add drama, with bold prints and backless tops, while ASOS DESIGN has hundreds of styles to help you express your individuality. Invent your own style with our collection of tops for women.</p>
</div>

<hr class="solid">

<div class="tiny-container">
    <div class="row">
        <div class="col-4">
            <select id="sortby" onchange="ChangedSomething()" class="form-select">
                <option value="0" selected>Sort</option>
                <option value="1">Recommended</option>
                <option value="2">Price High to Low</option>
                <option value="3">Price Low to High</option>
                <option value="4">Top Rated</option>
            </select>
        </div>
        <div class="col-4">
            <select id="genderby" onchange="ChangedSomething()" class="form-select">
                <option value="" selected>Gender</option>
                <option value="f">Women</option>
                <option value="m">Men</option>
                <option value="u">Unisex</option>
            </select>
        </div>
        <div class="col-4">
            <select id="colorby" onchange="ChangedSomething()" class="form-select">
                <option value="" selected>Color</option>
                <option value="Red" style="text-decoration-color: #ff5050;">Red</option>
                <option value="Yellow" style="text-decoration-color: #ffff00;">Yellow</option>
                <option value="Purple" style="text-decoration-color: #cc99ff;">Purple</option>
                <option value="Black" style="text-decoration-color: #1a1a1a;">Black</option>
                <option value="Blue" style="text-decoration-color: #66b3ff;">Blue</option>
                <option value="White" style="text-decoration-color: #f2f2f2;">White</option>
                <option value="Green" style="text-decoration-color: #99ff66;">Green</option>
                <option value="Orange" style="text-decoration-color: #ffcc66;">Orange</option>
                <option value="Grey" style="text-decoration-color: #999999;">Grey</option>
                <option value="Multi" style="text-decoration-color: #e3dee4;">Multi</option>
            </select>
        </div>
    </div>
</div>

<hr class="solid">
<p style="text-align: center; margin-bottom: -40px;">@(ViewBag.shirtsLength) items found</p>

<div class="small-container">
    <div class="row">
        @foreach (var item in ViewBag.shirts as ICollection<Products>)
        {
            <div class="col-4">
                <div class="wrapper" onclick="GoToItem(@(item.Id))">
                    <div class="top">
                        <img src="@(Html.DisplayFor(modelItem => item.ImageUrl))" />
                    </div>
                    <div class="bottom">
                        <div class="left">
                            <div class="details">
                                <p class="name">@(Html.DisplayFor(modelItem => item.Name))</p>
                                <p class="price">$@(Html.DisplayFor(modelItem => item.Price))</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>
