@using MatikoWebAppProject.Models;
@using MatikoWebAppProject.Controllers;

@{
    ViewBag.Title = "statistics";
    ViewData["Title"] = "Statistics";
}

<!DOCTYPE html>
<html>
<head>
    <script src="https://d3js.org/d3.v4.min.js"></script>
</head>
<body>
    @foreach (var v in ViewBag.data as ICollection<Stat>)
    {
        //now v is the model, need to convert to {key: , value: } ok?
    }

    <h2>Pie Chart</h2>
    <svg id="piechart1body" width="500" height="400"></svg> <!--Step 2-->
    <script>
        var s = @(ViewBag.data2 as ICollection<Stat>);
        var jsonS = JSON.stringify(s);
        console.log(jsonS);//?
        // Step 3
        var svg = d3.select("#piechart1body"),
            width = svg.attr("width"),
            height = svg.attr("height"),
            radius = 200;

        // Step 1
        var data = [{ name: "Alex", share: 20.70 },
        { name: "Shelly", share: 30.92 },
        { name: "Clark", share: 15.42 },
        { name: "Matt", share: 13.65 },
        { name: "Jolene", share: 19.31 }];

        var g = svg.append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

        // Step 4
        var ordScale = d3.scaleOrdinal()
            .domain(jsonS)
            .range(['#ffd384', '#94ebcd', '#fbaccc', '#d3e0ea', '#fa7f72']);

        // Step 5
        var pie = d3.pie().value(function (d) {
            return d.Values;
        });

        var arc = g.selectAll("arc")
            .data(pie(jsonS))
            .enter();

        // Step 6
        var path = d3.arc()
            .outerRadius(radius)
            .innerRadius(0);

        arc.append("path")
            .attr("d", path)
            .attr("fill", function (d) { return ordScale(d.jsonS.Key); });

        // Step 7
        var label = d3.arc()
            .outerRadius(radius)
            .innerRadius(0);

        arc.append("text")
            .attr("transform", function (d) {
                return "translate(" + label.centroid(d) + ")";
            })
            .text(function (d) { return d.jsonS.Key; })
            .style("font-family", "arial")
            .style("font-size", 15);



    </script>
</body>
</html>