
* {
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic';
}

header {
    background-color: #000;
    height: 7vh;
}
body{
    background-color: white;
}

ul {
    float: left;
    list-style-type: none;
    margin-top: 25px;
    padding: 3px;
}

    ul li {
        display: inline-block;
    }

        ul li a {
            top: 7px;
            float: left;
            margin-left: auto;
            text-decoration: none;
            color: #fff;
            padding: 5px 10px;
            border: 1px solid transparent;
            transition: 0.6s ease;
        }

            ul li a:hover, #f:hover, #m:hover {
                background-color: #fff;
                color: #000;
            }

            .nameTag{
                color: white;
            }
.logo img {
    float: left;
    width: 120px;
    height: auto;
    padding: 5px;
}

.search-my {
    margin: auto;
    border: 3px #000 solid;
}

.search1 {
    border: none;
    background-color: none;
    width: 400px;
    right: 450px;
    top: 12px;
    position: absolute;
}

.button1 {
    color: #fff;
    background-color: #000;
    right: 430px;
    top: 12px;
    border: none;
    position: absolute;
}

.icons3 {
    position: absolute;
    top: 7px;
    right: 90px;
    display: inline-block;
    padding: 3px 5px;
}
.icons2 {
    position: absolute;
    top: 7px;
    right: 60px;
    display: inline-block;
    padding: 3px 5px;
}

.icons {
    position: absolute;
    top: 7px;
    right: 30px;
    display: inline-block;
    padding: 3px 5px;
}

.icons1 {
    position: absolute;
    top: 7px;
    right: 1px;
    display: inline-block;
    padding: 3px 5px;
}

/*.sub-menu-1 {
    display: none;
}

.icons:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background-color: aliceblue;
    margin-top: 15px;
    margin-left: -15px;
}

    .icons:hover .sub-menu-1 ul {
        display: block;
        margin: 10px;
    }

    .icons:hover .sub-menu-1 ul {
        width: 150px;
        padding: 10px;
        border-bottom: 1px dotted #000;
        background: transparent;
        border-radius: 0;
        text-align: left;
    }

        .icons:hover .sub-menu-1 ul li:last-child {
            border-bottom: none;
        }*/


.main {
    max-width: 1200px;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

footer {

    background-color: rgba(0,0,0,0.6);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
    left : 0;
    text-align: center;
    color: white;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 20px; /* Vertically center the text there */
    max-height : 500px;
}
    footer.column i {
        color: #fff;
    }

footer.column i+i{
    padding:0 0.5em;
}
.nav1 {
    background-color: #fbecd8;
    margin: auto;
    border-bottom: 1px solid #000;
    border-bottom-width: initial;
}

.navbar {
    right: 100px;
    padding: 3px;
    height: 5vh;
}


.navbar-nav li {
    display: inline-block;
    position:relative;
}

/*.dropdown-menu {
    text-transform: none;
    display: none;
    position: absolute;
    width: 220px;
    background-color: rgba(0,0,0,0.8);
}
.nav_item:hover .submenu{

    display:block;
}
dropdown-item {
    border-left: 4px solid transparent;
}
dropdown-item:hover{
    background-color: rgba(0,0,0,0.6);
    border-left: 4px solid rgba(450,0,60,0.8);
}*/
    .navbar-nav li a {
        display:block;
        margin-left: auto;
        font-size: 16px;
        padding: 15px 40px 15px !important;
        color: #000;
        margin-left: auto;
        text-decoration: none;
        transition: 0.6s ease;
        cursor:pointer;
    }

        .navbar-nav li a:hover {
            background-color: #fbecd8;
        }

.navbar-light .navbar-nav .nav-link {
    color: #fbecd8;
}


@media(max-width:1200px) {
    .navbar-nav li {
        font-size: 15px;
    }
}

@media(max-width:500px) {
    .navbar-toggler {
        margin: 10px 0px 10px 30px;
        border-color: #ff4f81;
    }

        .navbar-toggler:hover, .navbar-toggler:focus {
            background-color: #000;
            border-color: #ff4f81;
        }

    .navbar-light {
        background-color: #fff;
    }
    .labelForUser{
        color:white;

    }
    .navbar-nav li a {
        text-align: center;
        background-color: aliceblue;
    }

        .navbar-nav li a:hover {
            background-color: #ff4f81;
        }
}
