@model IEnumerable<MatikoWebAppProject.Models.Products>


<!DOCTYPE html>
<html>
<head>
    <title>Wishlist</title>
    <meta name="description" content="This is the description">
    @*
        <link rel="stylesheet" href="WishlistStyle.css" />
        <link rel="stylesheet" href="~/css/StyleCart.css" type="text/css" />
    *@

    <link rel="stylesheet" href="~/css/WishlistStyle.css" type="text/css" />

    <script src="store.js" async></script>
</head>

<link rel="stylesheet" href="~/css/StyleCart.css" type="text/css" />


<body>
    <section class="container content-section">
        <h2 class="section-header">WISHLIST</h2>
        @for (int i = 0; i < Model.Count(); i++)//int i = 0 ....
        {
            /* <div class="shop-item">
                 <span class="shop-item-title">@Html.DisplayFor(modelItem => Model.ElementAt(i).Name)</span>
                 <img class="shop-item-image" src=@Model.ElementAt(i).ImageUrl>
                 <div class="shop-item-details">
                     <span class="shop-item-price"> @Html.DisplayFor(modelItem => Model.ElementAt(i).Price)</span>
                     <button asp-action="addToCartAsync" asp-controller="WishLists" class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                 </div>
             </div>*/

            <div class="product">
                <div class="product-image">
                    <img src=@Model.ElementAt(i).ImageUrl> @*item is Model[i]*@
                </div>
                <div class="product-details">
                    <div class="product-title"> @Html.DisplayFor(modelItem => Model.ElementAt(i).Name)</div>

                    <div class="product-price"> @Html.DisplayFor(modelItem => Model.ElementAt(i).Price)</div>
                    <button asp-action="addToCartAsync" asp-controller="WishLists" class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                    <button asp-action="RemoveFromWishListAsync" asp-controller="WishLists" class="btn btn-primary shop-item-button" type="button">REMOVE FROM WISHLIST</button>

                </div>
            </div>

        }

    </section>
</body>
</html>