@model IEnumerable<MatikoWebAppProject.Models.Users>

@{ ViewData["Title"] = "PersonalArea";
    Layout = "_Layout"; }

<link rel="stylesheet" href="~/css/personalinfo.css" type="text/css" />


<head>
    <meta charset="utf-8">
    <title> Action Menu Buton </title>
    <link rel="style-sheet" href="style.css">
</head>
<body>
    <div class="action">

        @*
        <div class="profile" onclick="menuToggle();">
           <img src="~/img/img.jpg">
        </div>
        *@
        <div class="menu">
            <h3>@Context.User.Claims.ElementAt(0).Value</h3>
            <ul>

                <li><img src="~/img/user.png"><a asp-action ="InfoAndPersonalOrders">My Profile</a></li>
                @* <li><img src="~/img/edit.png"><a href="#">Edit Profile</a></li> *@
                @*<li><img src="~/img/settings.png"><a href="#">Settings</a></li>*@
                @if (Context.User != null && Context.User.Claims != null)
                {
                    <li><img src="~/img/log-out.png"><a asp-action="Logout" asp-controller="Users">Logout</a></li>
                }
                else
                {
                    @*add appropriate login icon*@
                    <li><img src="~/img/log-in.png"><a asp-action="Login" asp-controller="Users">Login</a></li>
                }
            </ul>
        </div>

        <script>
            function menuToggle() {
                const toggleMenu = document.querySelector('.menu');
                toggleMenu.classList.toggle('active')
            }
        </script>

</body>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
