@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/StyleHome.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="sale-area">
        <div class="sale-text">
            <h1 class="ml2 " style="color: #E3BD9D;">SALE</h1>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

            <h2 class="ml16 " style="color: #E3BD9D;">use code HEMI for 30% off everything</h2>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        </div>
    </div>

    <script>
        var textWrapper = document.querySelector('.ml2');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.ml2 .letter',
                scale: [4, 1],
                opacity: [0, 1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 1000,
                delay: (el, i) => 70 * i
            }).add({
                targets: '.ml2',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1400
            });
    </script>

    <script>
        var textWrapper = document.querySelector('.ml16');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.ml16 .letter',
                translateY: [-100, 0],
                easing: "easeOutExpo",
                duration: 1400,
                delay: (el, i) => 30 * i
            }).add({
                targets: '.ml16',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1000
            });
    </script>


    <div class="slideshow-container">

        <img class="pic mySlides" src="https://images.unsplash.com/photo-1560243563-062bfc001d68?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">

        <img class="pic mySlides" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">

        <div class="center">
            <button class="button" onclick="GoToCategory('New')">SHOP NEW</button>
        </div>

    </div>

    <script>
        var slideIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > x.length) { slideIndex = 1 }
            x[slideIndex - 1].style.display = "block";
            setTimeout(carousel, 2000);
        }
    </script>

    <div class="card__collection clear-fix">
        <div class="cards cards--three" onclick="GoToCategory('Swimwear')">
            <img src="https://images.unsplash.com/photo-1568026530336-f706373e9d78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=375&q=80" class="img-responsive" alt="">
            <span class="cards--three__rect-1">
                <span class="shadow-1"></span>
                <p style="color: black;">S W I M W E A R</p>
            </span>
            <span class="cards--three__rect-2">
                <span class="shadow-2"></span>
            </span>
            <span class="cards--three__circle"></span>
        </div>
        <div class="cards cards--three" onclick="GoToCategory('Shirts')">
            <img src="https://images.unsplash.com/photo-1560889041-1814025efae4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" class="img-responsive" alt="">
            <span class="cards--three__rect-1">
                <span class="shadow-1"></span>
                <p style="color: black;">S H I R T S</p> 
            </span>
            <span class="cards--three__rect-2">
                <span class="shadow-2"></span>
            </span>
            <span class="cards--three__circle"></span>
        </div>
        <div class="cards cards--three" onclick="GoToCategory('Jeans')">
            <img src="https://images.unsplash.com/photo-1575658562710-5dc18162e148?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="img-responsive" alt="">
            <span class="cards--three__rect-1">
                <span class="shadow-1"></span>
                <p style="color: black;">J E A N S</p>
            </span>
            <span class="cards--three__rect-2">
                <span class="shadow-2"></span>
            </span>
            <span class="cards--three__circle"></span>
        </div>

    </div>


<script>
    function GoToCategory(category) {
        window.location.href = '/Products/'+ category;
    }
</script>