@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/StyleHome.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
    <div class="sale-area">
        <div class="sale-text">
            <h1 class="ml2 ">SALE</h1>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

            <h2 class="ml16 ">use code HEMI for 30% off everything</h2>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
        </div>
    </div>

    <script>
        var textWrapper = document.querySelector('.ml2');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.ml2 .letter',
                scale: [4, 1],
                opacity: [0, 1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 1000,
                delay: (el, i) => 70 * i
            }).add({
                targets: '.ml2',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1400
            });
    </script>

    <script>
        var textWrapper = document.querySelector('.ml16');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline({ loop: true })
            .add({
                targets: '.ml16 .letter',
                translateY: [-100, 0],
                easing: "easeOutExpo",
                duration: 1400,
                delay: (el, i) => 30 * i
            }).add({
                targets: '.ml16',
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1000
            });
    </script>


    <div class="slideshow-container">

        <div class="mySlides fade">
            <img class="pic" src="https://images.unsplash.com/photo-1518131901452-29ef2e026182?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
        </div>

        <div class="mySlides fade">
            <img class="pic" src="https://images.unsplash.com/photo-1560243563-062bfc001d68?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
        </div>

        <div class="mySlides fade">
            <img class="pic" src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=751&q=80">
        </div>

        <div class="center">
            <button class="button">SHOP NEW</button>
        </div>

    </div>

    <script>
        $("#slideshow-container > div:gt(0)").hide();

        setInterval(function () {
            $('#slideshow > div:first')
                .fadeOut(1000)
                .next()
                .fadeIn(1000)
                .end()
                .appendTo('#slideshow');
        }, 3000);
    </script>

    <div style="display:none">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <script>
        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>


    <div id="portfolio">
        <div class="project">
            <img class="project__image" src="https://images.unsplash.com/photo-1547597466-50406ff4f363?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
            <p class="fw-bold">Jeans</p>
            <div class="grid__overlay">
                <button class="viewbutton" onclick="GoToCategory('Jeans')">view more</button>
            </div>
        </div>

        <div class="project">
            <img class="project__image" src="https://images.unsplash.com/photo-1568026530336-f706373e9d78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=375&q=80" />
            <p class="fw-bold">Swimwear</p>
            <div class="grid__overlay">
                <button class="viewbutton" onclick="GoToCategory('Swimwear')">view more</button>
            </div>
        </div>

        <div class="project">
            <img class="project__image" src="https://images.unsplash.com/photo-1560889041-1814025efae4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" />
            <p class="fw-bold">Shirts</p>
            <div class="grid__overlay">
                <button class="viewbutton" onclick="GoToCategory('Shirts')">view more</button>
            </div>
        </div>

        <div class="project">
            <img class="project__image" src="https://images.unsplash.com/photo-1577744486770-020ab432da65?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80" />
            <p class="fw-bold">Accessories</p>
            <div class="grid__overlay">
                <button class="viewbutton" onclick="GoToCategory('Accessories')">view more</button>
            </div>
        </div>
       
        <div class="overlay">
            <div class="overlay__inner">
                <button class="close">close X</button>
                <img>
            </div>
        </div>
    </div>

</body>
<script>
    function GoToCategory(category) {
        window.location.href = '/Products/'+ category;
    }
</script>